body {
  min-width: 970px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  background-image: url(../img/backgrounds/background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*navigation*/

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}


.main-header {
  margin-bottom: 75px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;
}

.main-navigation-wrapper {
  width: 100%;
  min-height: 70px;
  margin-bottom: 60px;
  background-color: #000000;
}

.main-navigation-wrapper a {
  color: #ffffff;
  text-decoration: none;
}

.site-navigation {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-basis: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li,
.user-navigation li {
  margin-right: 10px;
  padding: 20px 0;
}

.user-navigation {
  display: flex;
  align-items: flex-end;
  width: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*features*/

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.features-list li {
  list-style: none;
}

.feature-item {
  min-width: 300px;
  text-align: center;
}

.feature-item p {
  margin: 0;
  padding: 0;
}

/*columns*/

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  padding: 50px 80px;

  color: #000000;
  background-color: #f8f5f2;
  background-image: url(../img/backgrounds/items-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

.index-columns a {
  text-decoration: none;
}

.news {
  width: 380px;

  text-align: left;
}

.news-item p {
  margin: 20px 0 5px 0;
  padding: 0;
}

.news-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery {
  width: 300px;
}

.gallery-content {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.contacts {
  width: 380px;
}

.contacts ul,
.contacts p {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts .address {
  margin: 20px 0 20px 0;;
}

.contacts .worktime {
  margin-bottom: 20px;
}

.appointment {
  width: 300px;
}

.appointment li {
  list-style: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
  outline: none;
}

/*footer*/

.main-footer {
  margin-top: 65px;
  padding: 60px 0;

  color: #ffffff;
  background-color: #212121;
  background-image: url(../img//backgrounds/footer-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container {
  display: flex;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-contacts {
  width: 320px;
  margin-right: 80px;
}

.footer-social {
  width: 160px;
}

.footer-social li a {
  color: #ffffff;
}

.copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.inner-page .main-footer {
  margin-top: 45px;
}

/*modal*/

.modal {
  color: #000000;
  background-color: #f8f3f0;
  background-image: url(../img//backgrounds/items-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.login-form .login-icon-user,
.login-form .login-icon-password {
  font: inherit;
  text-transform: uppercase;
  color: #000000;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form .login-icon-user:focus,
.login-form .login-icon-password:focus {
  border-color: #663d15;
  outline: none;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

/* страница catalog.html */

.inner-page {
  color: #000000;
  background-color: #f9f6f3;
  background-image: url(../img//backgrounds/items-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-header {
  min-height: 70px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  background-color: #000000;
}

.inner-page .main-navigation .container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.inner-page .main-header-logo {
  order: -1;
  width: 111px;
  height: 24px;
  padding: 20px 20px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.inner-page .main-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.inner-page a {
  color: #000000;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.catalog-item {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  text-transform: none;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.breadcrumbs li,
.breadcrumbs a {
  list-style: none;
  text-decoration: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.pagination-item a {
  color: #ffffff;
  background-color: #000000;
}

.pagination-item a:focus,
.pagination-item a:hover,
.pagination-item a:active {
  color: #ffffff;
  background-color: #663d15;
  outline: none;
}

.pricelist td {
  border: 2px solid #000000;
}

.catalog {
  width: 700px;
}

.catalog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters {
  width: 220px;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters legend {
  font-size: 24px;
  line-height: 30px;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #aba9a7;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  padding: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-price b {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background-color: #e5e5e5;
}

.catalog-item-price .button {
  line-height: 20px;
  color: #ffffff;
}

.pagination-list {
  width: 43px;
  margin: 0;
  padding: 0;

}

.pagination-item,
.pagination-item-current {
  width: 43px;
  height: 43px;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
}

.product-photos {
  width: 460px;
}

.product-photo-large {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photos ul {
  margin: 0;
  padding: 0;
}

.product-photos li {
  list-style: none;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-info {
  width: 390px;
}

.product-info li {
  list-style: none;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.product-article {
  text-align: right;
  color: #aeaeae;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}

/*альт текст на карте*/
.modal-map-wide img {
  color: #000000;
}
